.consultation {
    background-image: url(../img/consultation-photo.png);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: top;
    display: grid;
    align-content: center;
    position: relative;
}

.consultation__icon {
    width: 100%;
}

.consultation__body {
    text-align: center;
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 798px 246px;
}

.consultation__sidebar-left {
    display: grid;
    justify-content: center;
    justify-items: start;
    gap: 30px;
    position: absolute;
    left: 112px;
}

.consultation-sidebar__left-title {
    color: var(--title-color-white);
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
}

.consultation-sidebar__left-overtitle {
    color: var(--title-color-white);
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
}

.consultation__sidebar-right {
    display: grid;
    justify-content: end;
    position: absolute;
    right: 160px;
}

.consultation-sidebar__right-btn {
    grid-column: 2 / 3;
    background-color: rgb(0 128 255 / 0%);
    padding: 16px 20px;
    border-radius: 2px;
    border: 2px solid var(--title-color-white);
    color: var(--title-color-white);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}