.feedback {
    height: 632px;
    background: var(--sta-backgroud-color);
    display: grid;
    justify-content: center;
    align-items: center;
}

.feedback__container {
    width: 592px;
    height: 416px;
    gap: 38px;
    display: grid;
    justify-items: center;
}

.feedback__header {
    display: grid;
    justify-items: center;
    gap: 20px;
}

.feedback__header-title {
    color: var(--title-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
}

.feedback__header-overtitle {
    color: var(--title-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    width: 539px;
}