.footer {
    width: 100%;
    height: 447px;
    background: var(--title-color-white);
    position: relative;
}

.footer__container {
    width: 100%;
}

.footer__body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 377px;
    gap: 323px;
}

.footer__sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-sidebar__text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.footer-sidebar__text-overtitle {
    color: var(--title-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

.footer__sidebar-top {
    display: flex;
    gap: 8px;
}

.footer-sidebar__form-email {
    width: 280px;
    padding: 10px 8px;
    border-radius: 4px;
    border: 1px solid var(--input-color-border);
    background: #FFF;
    color: var(--title-btn-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.footer-sidebar__btn {
    display: flex;
    width: 136px;
    height: 41px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px;
    background: var(--btn-color-orange);
    color: var(--title-color-white);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.footer__sidebar-bottom {
    display: flex;
    gap: 20px;
}

.footer-sidebar__icon {
    width: 40px;
    height: 40px;
}

.footer__bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 1px 112px 1px 112px;
    align-items: center;
    background: var(--background-color-blue);
}

.footer-bottom__title {
    color: var(--title-color-white);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

@media (max-width: 1215px) {
    .footer {
        height: 500px;
    }

    .footer__body {
        display: flex;
        height: 377px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 24px;
        gap: 20px;
    }
}

@media (max-width: 400px) {
    .project {
        height: 100%;
    }

    .project__column {
        grid-template-columns: 1fr;
    }
}