.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #FFF;
}

.header__logo-link {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header__menu {
    display: inline-flex;
    align-items: flex-start;
    gap: 50px;
}
