.project {
    height: 1098px;
    background: var(--title-color-white);
}

.project__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 170px;
}

.project__list {
    display: grid;
    justify-content: center;
    align-items: start;
    justify-items: start;
    align-content: center;
    height: 90px;
    gap: 20px;
}

.project__list-title {
    color: var(--title-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.project__item-title {
    color: var(--title-color-gray);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
}

.project__column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.project-column__card-icon {
    height: 247px;
}