.project {
    background: var(--title-color-white);
}

.project__list-title {
    color: var(--title-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.project__item-title {
    color: var(--title-color-gray);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
}

.project-column__card {
    width: 384px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--background-color-blue);
}

.project-column__card-icon {
    height: 247px;
}

.project-column__card-text {
    padding: 12px;
    display: grid;
    gap: 12px;
}

.project-column__card-title {
    color: var(--title-color-white);
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

.project-column__card-overtitle {
    color: var(--title-color-white);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.project-row__btn {
    width: 295px;
    height: 64px;
    padding: 4px 20px;
    background: var(--background-color);
    color: var(--title-color-white);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

@media (min-width: 375px) {
    .project {
        height: 100%;
    }

    .project__body {
        display: grid;
        grid-template-columns: 1fr;
        padding: 150px 25px 50px 25px;
        gap: 106px;
        justify-items: center;
    }

    .project__list {
        display: grid;
        height: 90px;
        gap: 20px;
        justify-items: center;
        align-content: center;
    }

    .project__wrapper {
        width: 347px;
    }

    .project__column {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        justify-items: center;
    }

    .project-column__card {
        width: 345px;
    }

    .project__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        padding-top: 20px;
        gap: 10px;
    }

    .project-row__btn {
        width: 100%;
    }

    .project-row__scroll {
        height: 14px;
    }
}

@media (min-width: 768px) {
    .project__body {
        display: grid;
        grid-template-columns: 1fr;
        padding: 150px 25px 50px 25px;
        gap: 130px;
    }

    .project__list {
        display: grid;
        height: 90px;
        gap: 20px;
        justify-items: center;
    }

    .project__wrapper {
        display: grid;
        justify-items: center;
        width: 721px;
    }

    .project__column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        justify-items: center;
    }

    .project-column__card {
        width: 345px;
    }

    .project__row {
        width: 100%;
    }

    .project-row__scroll {
        height: 15px;
        width: 123px;
    }
}

@media (min-width: 1024px) {
    .project__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 150px 90px 50px 25px;
        gap: 50px;
    }

    .project__list {
        display: grid;
        justify-content: center;
        align-items: start;
        justify-items: start;
        align-content: center;
        height: 90px;
        gap: 20px;
    }

    .project__column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
    }

    .project-column__card {
        width: 384px;
    }

    .project__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 10px;
        padding: 32px;
        width: 100%;
    }
}