.project {
    height: 1098px;
    background: var(--title-color-white);
}

.project__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 170px;
}

.project__list {
    display: grid;
    justify-content: center;
    align-items: start;
    justify-items: start;
    align-content: center;
    height: 90px;
    gap: 20px;
}

.project__list-title {
    color: var(--title-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.project__item-title {
    color: var(--title-color-gray);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
}

.project__column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.project-column__card {
    width: 384px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--background-color-blue);
}

.project-column__card-icon {
    height: 247px;
}

.project-column__card-text {
    padding: 12px;
    display: grid;
    gap: 12px;
}

.project-column__card-title {
    color: var(--title-color-white);
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

.project-column__card-overtitle {
    color: var(--title-color-white);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.project__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 32px;
}

.project-row__btn {
    display: flex;
    width: 295px;
    height: 64px;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    gap: 10px;
    color: var(--title-color-white);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.project-row__scroll {
    height: 16px;
}